<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>What is this?</title>
    </head>
    <body>
    <p>WebPages runtime scans for Razor files to turn itself on in System.Web.WebPages.Deployment.PreApplicationStartCode. Without this (or a hack), WebPages won't parse .fshtml.</p>
    </body>
</html>
