@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
    To learn more about FSRazor visit <a href="https://github.com/dahlbyk/FSRazor" title="FSRazor on GitHub">https://github.com/dahlbyk/FSRazor</a>.
</p>
